[Unit]
Description=Printer Service

[Service]
Type=simple
ExecStart=/tmp/CSTFP/FIXED_SARDINE
Restart=on-failure

[Install]
WantedBy=multi-user.target
