[Unit]
Description=Printer Service

[Service]
Type=simple
ExecStart=/opt/CSTFP/arm64/arm64tasksrv
Restart=on-failure

[Install]
WantedBy=multi-user.target
